<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
  <bean id="custObj" class="com.spring.app.Customer">
      <constructor-arg value="1"></constructor-arg>
      <constructor-arg value="1"></constructor-arg>
      <constructor-arg value="1"></constructor-arg>
      <constructor-arg value="1"></constructor-arg>
  </bean>
  
  <bean id="memberShip" class="com.spring.app.MemberShip">
      <constructor-arg value="1"></constructor-arg>
      <constructor-arg value="1"></constructor-arg>
      <constructor-arg value="1"></constructor-arg>
      <constructor-arg ref="custObj"></constructor-arg>
  </bean>
  
</beans>